<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <meta name="author" content="CalGrimes">
    <meta name="description" content="SnippetStyler is a web application that allows users to style their code snippets with syntax highlighting and background themes">
    <meta name="keywords" content="SnippetStyler, code, snippet, style, syntax, highlight, background, theme">
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" type="text/css" />
    <script src="~/JavaScript.js" type="text/javascript"></script>
</head>

<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
