@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="box">
    <div class="searchDropdown">
        <label for="searchDropdownInput" class="mr-4 ml-10">Language:</label>
        <div class="inline">
        <input type="text" placeholder="Search.." onfocus="toggleDropdownContent()" onblur="toggleDropdownContent()" id="searchDropdownInput" onkeyup="filterFunction()" />
        <label id="selection"></label>
        <div id="dropdown" class="dropdown-content hidden  w-100">
            <a href="#bash" onclick="selectItem('Bash')">Bash</a>
            <a href="#ps1" onclick="selectItem('Powershell')">Powershell</a>
            <a href="#java" onclick="selectItem('Java')">Java</a>
            <a href="#csharp" onclick="selectItem('C#')">C#</a>
            <a href="#python" onclick="selectItem('Python')">Python</a>
        </div>
        </div>
    </div>

    <div class="box center secondary-color">
        <textarea class="box center noResize" id="codeSnippet" rows="10" placeholder="Enter code snippet here..."></textarea>
    </div>
</div>

<script>
    function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("searchDropdownInput");
    filter = input.value.toUpperCase();
        div = document.getElementById("dropdown");
    a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

    function toggleDropdownContent() {
        console.log("toggleDropdownContent");
        document.getElementById("dropdown").classList.toggle("hidden");
        document.getElementById("dropdown").classList.toggle("visible");
    }

    function selectItem(item) {
        var selectionLabel = document.getElementById("selection");
        console.log(selectionLabel);
        selectionLabel.innerText = item;
        toggleDropdownContent();
    }
</script>